*{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  height: auto;
}

.mainName{
  text-align: center;
  font-size: 80px;
  letter-spacing: -6px;
      
}

#mainContent{
display: flex;
justify-content: center;

}

.display{
display: flex;
justify-content: center;
font-weight: bold;
margin: 0; 
}

.display #turnDisplay, #timeDisplay{
padding: 1rem;
}

.display #turn ,#time{
font-size: 40px;
}

#mainContent #tableMain{
  border-spacing: 0;
  border-collapse: collapse;
  pointer-events: none;
}

#mainContent #tableMain td{
  width: 150px;
  height: 150px;
  background-color: #82ccdd;
  border: solid 1px black;
  text-align: center;
  font-size: 100px;
  cursor: pointer;
}

#mainContent #tableMain td:hover{
  background-color:#b2bec3;
  color: white;
}

.btns{
    padding-top: 50px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    text-align: center;
}

.btns .startBtn {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  width: 5.5rem;
  height: 4.5rem;
  cursor: pointer;
  line-height: 70px;
}

.btns .startBtn:hover {
  background-color: #555555;
  color: white;
}

.btns .resetBtn {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  width: 5.5rem;
  height: 4.5rem;
  cursor: pointer;
  margin: 0 5px;
  line-height: 70px;
  
}

.btns .resetBtn:hover {
  background-color: #555555;
  color: white;
}

.btns .infoBtn{
 background-color: white;
 color: black;
 border: 2px solid #555555;
 width: 5.5rem;
 height: 4.5rem;
 cursor: pointer;
 margin: 0 5px;
 line-height: 430%;
 }
 .btns .infoBtn:hover{
 background-color: #555555;
 color: white;
}

.btns .infoBtn .tooltip{
  width: 300px;
  height: 110px;
  visibility: hidden;
  background-color: #555555;
  padding: 0;
  color:white;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 15%;
  left: 50%;
  margin-left: -110px;
  line-height: 120%;
}

.btns .infoBtn:hover .tooltip{visibility: visible;}


@media screen and (max-width:768px){
.mainName{
  font-size: 30px;
  letter-spacing: -3px;
}
#mainContent #tableMain td{
  width: 100px;
  height: 100px;
  font-size: 75px;
   }
.btns .startBtn,.btns  .resetBtn,.btns  .infoBtn{
  width: 2.5rem;
  height: 2rem;
  font-size: 7px;
  line-height: 35px;
}
 .btns .infoBtn .tooltip{
  width: 220px;
  height: 60px;
  z-index: 1;
  top: 410px;
  left: 35%;
  margin-left: -30px;

  }

}